img {
    heigh: 25px;
}

img {
    width: 150px;
    border-radius: 50px;
    float: left;
    margin-right: 8px;
}

h2 {
    color: maroon;
}

h3 {
    color: red;
}

h4 {
    color: orange;
}

h5 {
    color: sienna;
}

a {
    background-color: limegreen;
}

ul {
    color: olive;
}

ol {
    color: royalblue;
}


}
.username {
    font-weight: bold;
}
.new {
    font-size: 20px;
}
.photo {
    height: 20px;
}
.Font {
    color: brown;
}
.para {
    color: red
}
div1 {
    color: indigo;
}
div2 {
    color: turquoise;
}
div3 {
    color: hotpink;
}