body {
    background-color: grey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2em;
}

img {
    width: 180px;
    border-radius: 50px;
    float: right;
    margin-right: 8px;
}

h1 {
    color: maroon;
}

h2 {
    color: red;
}

h3 {
    color: red;
}

h4 {
    color: orange;
}

h5 {
    color: sienna;
}

a {
    background-color: skyblue;
}

ul {
    color: olive;
}

ol {
    color: royalblue;
}