img {
    heigh: 25px;
}

img {
    width: 150px;
    border-radius: 50px;
    float: left;
    margin-right: 8px;
}

.new {
    font-size: 20px;
}

.photo {
    height: 30px;
}

.Font {
    color: brown;
}

.para {
    color: red
}